  body{
  	background: #E0DADA;
  	color: white;
  	font-family: helvetica;
  }

  .logo{
  	display: block;
  	margin: 25px auto 25px auto;
  	width: 250px;
  }

  .page{
  	width: 500px;
  	background: white;
  	margin: 0 auto;
  	border-radius: 10px;
  	-webkit-box-shadow: 0 0 112px 5px rgba(0,0,0,.1);
	box-shadow: 0 0 112px 5px rgba(0,0,0,.1);
  }

  .product{
  	position: relative;
  }

  #canvas{
  	width: 500px;
  	height: 500px;
  	border-radius: 10px;
  	position: relative;
  }

  .upload{
  	position: absolute;
  	top: 0px;
  	border-radius: 10px;
  	opacity: .7;
  }

  .upload:hover{
  	opacity: 1;
  	cursor: pointer;
  }

  .guide{
  	position: absolute;
  	top: 0px;
  	border-radius: 10px;
  }

  button{
  	color: white;
  	background: #8AAC8B;
  	display: inline-block;
  	padding: 6px 12px;
  	margin-bottom: 0;
  	font-size: 14px;
  	font-weight: normal;
  	line-height: 1.428571429;
  	text-align: center;
  	white-space: nowrap;
  	vertical-align: middle;
  	cursor: pointer;
  	border: 1px solid transparent;
  	border-radius: 4px;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	-o-user-select: none;
  	user-select: none;
  }

  .supasmall{
  	width: 1px; height: 1px;
  }

  .buttonbar{
  	padding: 5px;
  	text-align: center;
  }

  footer{
  	color: #696969;
  	text-align: center;
  }
  footer a{
  	color: #696969;
  }
